<%- include("header", {}) %>
<h1>¡Bienvenido!</h1>
<p>Gracias por logearte</p>

<p>Usuarios en la base de datos</p>

<button>Crear nuevo usuario</button>

<div id="usuarios">
    <% usuarios.forEach(usuario => { %>
        <ul>
        <li><p><%= usuario.username %></p></li>
        <li><p><%= usuario.hash %></p></li>
        <li><p><%= usuario.last_Login %></p></li>
        </ul>
    <% }) %>
</div>
<%- include("footer", {}) %>


